#demoTable td,#demoTable th{
 	height:20px;
 	min-width:50px;
 	font-family:"Helvetica Neue", "Microsoft Yahei", Arial, sans-serif;
 	font-size:12px;
 }
 /*2018-4-10 表头样式更改*/
 .sDefault th, .sDefault td{padding:1px 3px;}
  #demoTable td{text-align:left !important;}
 #demoTable th{
 	background:rgba(69, 174, 234, 0.06);/* #efefef  修改为*/
 	font-size:14px;/* 新增  */
 	color:#2B2B2B !important;
 	letter-spacing:1px;
 	font-weight:normal;
 	/*background-image: linear-gradient(to bottom, #f8f8f8 0%, #ececec 100%);*/
 }
 /* 新增  */

.sDefault td{padding:3px 3px;}
td  input[type="text"]{padding:2px 6px;}
.sHeader #demoTable thead{border-bottom:2px solid #ddd;}
.table th{border-top:1px solid #ddd;}
.table-bordered td{border-left:1px solid #eee;}
.table-bordered tr td:first-child{border-left:1px solid #ddd;}
.table td{border-top:1px solid #eee;}
/* 新增  */
/*2018-4-10 表头样式更改*/
 @media screen and (min-width: 1500px) {
    #demoTable td,#demoTable th{
 	height:30px;
 	width:10%;
 }
}
 #demoTable td{
 	background:#fff;
 }
 #demoTable{
 	border-top:1px solid #cccccc;
 }

 .fakeContainer {  
     margin: 5px 20px 20px 20px;  
     border: none;                        
     overflow: hidden;  
 } 
 .my_width{
 	/*width:100%;*/
 	overflow:hidden;
 	padding:0 20px;
 }
 .first_div{
 	display:block;
 	margin:0 auto;
 }
 /*琛ㄦ间规ヨ㈢界峰*/
 .radius{
 	border-radius:8px;
 }