*{box-sizing: border-box;}

body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", "Segoe UI", Tahoma, STHeiti, sans-serif, "Microsoft Yahei", "WenQuanYi Micro Hei"; 
	font-size:14px;
	background-color: #F7F6F5;
}
ul,p,h1,h2,h3,h4,h5,h6,dl,dd{
	margin:0;
	padding:0;
	list-style:none;
}
.wrong {
    display: none;
    margin: .9375rem 0;
    width: 100%;
    padding: .5625rem 0;
    background-color: #fff4e2;
    border: 1px solid #fde7ba;
    border-radius: 4px;
    color: #666;
    text-align: center;
    font-size: .8125rem;
}
.wrong i {
    font-size: .9375rem;
    color: #ee903d;
    margin-right: 6px;
}
/* 底部样式  */
#fixed-bottom{
	position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    z-index:11;
}
#fixed-bottom .fix-btn{
	width:50%;
	text-align:center;
	font-size:12px;
	padding-top:4px;
}
#fixed-bottom .fix-btn .mui-icon{
	color:gray;
	font-size:25px;
}
.fix-btn a{
	color:gray;
}
.hold-high{
	height:50px;
}
/* 底部样式  */
.f2x {font-size: 2rem;}
.f14x {font-size: 1.4rem;}
.left{float:left;}
.right{float:right;}
.center{text-align:center;}
.strong{font-weight: bold;}
.both{clear:both;}
.mt10{margin-top:10px;}
.edgeGap{padding: 0 1.25rem;}
.bgwhite{background-color:#fff;}
.overhid{overflow:hidden;}
a{text-decoration: none;}
.pure-n-1-2{width:50%;}
.pure-n-1-4{width:25%;}
.pure-n-3-4{width:75%;}
.pure-n-7-10{width:70%;}
.pure-n-1-5{width:20%;}
.pure-n-2-5{width:40%;}
.pure-n-3-5{width:60%;}
.pure-n-4-5{width:80%;}
.pure-n-5-5{width:100%;}
.pure-u-1-3{width:32.4%;}
.pure-u-1-6{width:16.6667%;}
.pure-u-5-24{width:20.8333%;}
.pure-u-19-24{width:76.1667%;}
