#header{
	color: #fff;
    width: 100%;   
    background: url(../img/header_bg.jpg) no-repeat left top;
  /* background-color:rgba(0,0,0,.2);*/
	background-size: 100%;
	height: 2.813rem;
	margin: 0 auto;
}
#header .top{
	background-color: rgba(0,0,0,0.5);
	overflow: hidden;
	height:  2.813rem;
}
#header .top>div{
	padding: .675rem 0;
	text-align: center;	
}
.Filtrate a span{
	font-size:1rem;
}
#header .top>div a{
	display: inline-block;
	width:100%;
	height:100%;
	color: #fff;
	font-size: 1.3125rem;
}
#header .top>div h3{
	font-weight: normal;
	font-size: 1.25rem;
	color: #fff;
}
.main-top{
	background-color:#FEE4C3;
	padding-top:1rem;
	padding-bottom:1rem;
	
}
.main-top p{
	line-height:1.5rem;
	color:#F75346;
	line-height:45.5px;
	font-size:1.2rem;
	font-weight: bold;
}
.main-top p span{
	font-size:1.5rem;
}
.main-top a{
	display:inline-block;
	padding:.8rem 1.5rem;
	color:#fff;
	font-size:1rem;
	background-color:red;
	border-radius: 5px;
}
.main-content{
	margin-top:1rem;
}
.main-content .Coupon-text{
	text-align: center;
}
.Coupon-price{
	background-color:#9D12A5;
	border:1px solid #333;
	border-right:none;
}
.Coupon-price p{
	color:#fff;	
}
.Coupon-price p.title-name{
	padding:2rem 0;
	font-size:1.5rem;
}
.Coupon-price .money{
	padding:.8rem;
}
.Coupon-price .money span{
	font-size:1.5rem;
	font-weight: bold;
}
.Coupon-price>div{
	padding:.5rem 0;
	font-size:.6rem;
}
.Coupon-type{
	background-color:#FEFAF1;
	border:1px solid #333;
	padding:30px 0;
}
.cut-off{margin-left:.3rem;}
.condition{
	padding-top:1.5rem;
	padding-bottom:.5rem;
}
.condition p{
	color: #333;
	font-size:.8rem;
}
.condition p:first-child{
	font-size:1rem;
}
.explain .hr{
	padding:.3rem 0;
	border-top:1px dashed gray;
}
.explain p{
	font-size:1rem;
	color: #333;
}
.explain span{
	color:gray;
	display: block;
	font-size:.8rem;
	text-indent: 2em;
}

.immediately{
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(0,25,0,.2);
}
.succeed{
	width:60%;
	text-align: center;
	padding:3rem 0;
	line-height:40px;
	background-color:#FFFFFF;
	position:relative;
	top:35%;
	left:20%;
}
.succeed span{
	color:red;
	font-size:2rem;
	font-weight:bold;
}
#footer{
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	text-align:center;	
}
#footer a{
	display: block;
	width:100%;
	padding:1rem;
	color:#fff;
	font-size:1.2rem;
	background-color:#3399CC;	
}